<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginDAO">

	<!-- 회원가입 -->
	<insert id="insertmember" parameterType="login">
		<![CDATA[
		INSERT INTO member
		VALUES(#{mid},#{mpass},#{mtel},#{memail},#{maddr},'브론즈','X',#{mpostCode},#{maddrDetail},#{mname})
		]]>
	</insert>
	<!-- 로그인 -->
	 <select id="signinmember" parameterType="login" resultType="login">
		
		SELECT m_id mid				
		FROM member
		 WHERE M_ID= #{mid} 
		 <if test='mpass !=null'>
		 AND M_PASS = #{mpass}
		</if>
		
	</select>
	
	<!-- 아이디찾기-->
	 <select id="findid" parameterType="login" resultType="login">
		
		SELECT m_id mid
				
		FROM member WHERE M_TEL= #{mtel} 
		
		AND M_NAME = #{mname}
		
		
	</select>
	
	
	<!-- 비밀번호찾기-->
	 <select id="findpassword" parameterType="login" resultType="login">
		
		SELECT m_pass mpass, M_EMAIL memail,m_email mid
				
		FROM member 
		WHERE M_ID= #{mid} 
	
	</select>
	
	<select id="memberInfo" parameterType="login" resultType="login">
		<![CDATA[
		SELECT M_NAME mname, M_EMAIL memail, M_TEL mtel, M_POSTCODE mpostCode, M_ADDR maddr, M_ADDR_DETAIL maddrDetail, M_ID mid
		FROM MEMBER
		WHERE M_ID = #{mid}
		]]>
	</select>
	
	<update id="updatemember" parameterType="login" >
		UPDATE MEMBER
		SET M_NAME = #{mname}, M_EMAIL= #{memail}, M_TEL= #{mtel}, M_POSTCODE= #{mpostCode},M_ADDR=#{maddr},M_ADDR_DETAIL=#{maddrDetail},M_PASS=#{mpass}
		WHERE M_ID = #{mid}
	</update>
	
	<delete id="deleteMember" parameterType="login" >
	
		DELETE FROM MEMBER
		WHERE M_ID = #{mid}

	</delete>
	
	<update id="subemail" parameterType="login" >
	UPDATE MEMBER
	SET M_SUB = 'O'
	WHERE M_ID = #{mid}
	</update>
	
	
	
	
</mapper>