<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Trans">

<insert id="productorder" parameterType="hashmap" >
	insert into PRODUCTORDER(O_ID,O_DATE,M_ID,O_PAYMENT) values(SEQ_PRODUCTORDER_ID.nextval,sysdate,#{M_ID},#{O_PAYMENT})
	<selectKey keyProperty="productorderid" resultType="Integer" order="AFTER"> SELECT SEQ_PRODUCTORDER_ID.currval FROM dual </selectKey>
</insert>

<insert id="orderlist" parameterType="java.util.List" >
insert into ORDERLIST (OL_ID,O_ID,P_ID,cnt)
select SEQ_ORDERLIST_ID.nextval, a, b, c
from
(<foreach collection="list" index='index' item='test' separator='UNION ALL'>
SELECT #{test.o_id} as a, #{test.p_id} as b, #{test.cnt} as c FROM DUAL </foreach>)
   
</insert>

<update id="orderlistqty" parameterType="java.util.List">
 <foreach collection="list" item="vo" index="index">
        UPDATE PRODUCT SET P_QUAN=P_QUAN-#{vo.cnt} where P_ID=#{vo.p_id}
</foreach>
</update>




</mapper>